@page "/"


<PageTitle>Game Catalog</PageTitle>

<h1 class="text-center mb-2">Game Catalog</h1>

<table class="table table-hover">
    <thead>
        <th scope="col" >Id</th>
        <th scope="col" >Name</th>
        <th scope="col" >Genre</th>
        <th scope="col" >Price</th>
        <th scope="col" >Release Date</th>
        <th scope="col" ></th>
    </thead>
    <tbody>
        @foreach (var game in games) 
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Genre</td>
                <td>@game.Price</td>
                <td>@game.ReleaseDate.ToString("MM/dd/yyyy")</td>
            </tr>
        }
    </tbody>
</table>

@code {



}
