@page "/"
@using Models;
@inject NavigationManager NavigationManager

<PageTitle>Game Catalog</PageTitle>

<div class="container-fluid">
    <section class="row">
        <div class="col-12 text-center mb-2">
            <h1 class="">Game Catalog</h1>
        </div>
        <div class="col-12 text-center">
            <button class="btn btn-primary rounded-pill" type="button" @onclick="CreateGame">Add Game</button>
        </div>
        <div class="col-12">
            @if (games is null)
            {
                <p>
                    <em>Loading...</em>
                </p>
            }
            else
            {
                <DeleteGame Game="@currentGame" OnClose="@OnDeleteModalClose">
                </DeleteGame>

                <table class="table table-hover">
                    <thead>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Price</th>
                        <th scope="col">Release Date</th>
                        <th scope="col"></th>
                    </thead>
                    <tbody>
                        @foreach (var game in games)
                        {
                            <tr>
                                <td>@game.Id</td>
                                <td>@game.Name</td>
                                <td>@game.Genre</td>
                                <td>@game.Price</td>
                                <td>@game.ReleaseDate.ToString("MM/dd/yyyy")</td>
                                <td>
                                    <button class="btn btn-primary" @onclick="(() => EditGame(game.Id))">Edit</button>
                                    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#deleteGame"
                                        @onclick="(() => currentGame = game)">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </section>
</div>

@code {

    private Game[]? games;
    private Game? currentGame;
    protected override void OnInitialized() // This is similiar to onMounted lifecyle hook used in Vue.
    {
        games = GameClient.GetGames();
    }

    private void CreateGame() // The navigation manager is Blazors own way of handling basic router things, like .push.
    {
        NavigationManager.NavigateTo("/game");
    }

    private void EditGame(int gameId)
    {
        NavigationManager.NavigateTo($"/game/{gameId}");
    }

    private void OnDeleteModalClose(bool accepted)
    {
        if (accepted)
        {
            GameClient.DeleteGame(currentGame!.Id);
            games = GameClient.GetGames(); // Reinvoking our game getter allows the page to be reactive.
        }
    }
}
